<%= form_with url: general_report_products_path, method: :get, local: true do %>
  <div class="row">
    <div class="col-md-3">
      <%= label_tag :from_date, "From Date" %>
      <%= date_field_tag :from_date, params[:from_date], class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :to_date, "To Date" %>
      <%= date_field_tag :to_date, params[:to_date], class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :period, "Period" %>
      <%= select_tag :period, options_for_select([["Day", "day"], ["Month", "month"], ["Year", "year"]], params[:period]), class: "form-control" %>
    </div>
    <div class="col-md-3 align-self-end">
      <%= submit_tag "Filter", class: "btn btn-primary" %>
      <%= link_to "Download PDF", general_report_products_path(format: :pdf, period: params[:period], from_date: params[:from_date], to_date: params[:to_date]), class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<hr>
<h2>General Report</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Total Physical Stock</th>
      <th>Total Issued Goods</th>
      <th>Total Damaged Goods</th>
      <th>Total Goods Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_with_delimiter(sprintf("%.2f", @total_physical_stock)) %></td>
      <td><%= number_with_delimiter(sprintf("%.2f", @total_issued_goods)) %></td>
      <td><%= number_with_delimiter(sprintf("%.2f", @total_damaged_goods)) %></td>
      <td><%= number_with_delimiter(sprintf("%.2f",  @total_goods_received)) %></td>
    </tr>
  </tbody>
</table>
